<table>

    <tr>
         
        <td>PAYID</td>
        <td>PAY AMOUNT</td>
        <td>METHOD OF PAYMENT</td>
        <td>CARD NO.</td>
        <td>DATE OF PAYMENT</td>
        

        <td>Verify Documents</td>
    
    </tr>
    
    
    
    <tbody>
        
            <td>{{pay2.id}}</td>
            <td>{{pay2.amount}}</td>
            <td>{{pay2.methodofPayment}}</td>
            <td>{{pay2.cardno}}</td>
            <td>{{pay2.dateofpayment}}</td>
           
            


     
    </tbody>

    </table>