<!-- <p>login works!</p> -->
<!-- <div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="form">

        <input type="text" formControlName="username" placeholder="Enter Username">
        
        <input type="text" formControlName="password" placeholder="Enter Password">

        <button type="submit">Login</button>

    </form>
    </div> -->



    <!-- <p>login works!</p>
<div class="container">
    
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="form">

        <input type="text" formControlName="username" placeholder="Enter Username">
        
        <input type="text" formControlName="password" placeholder="Enter Password">

        <button type="submit">Login</button>

    </form>
    </div> -->


    <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	
</head>
<body>
	<div class="loginSignup">
		<div class="form signup">
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="form">
			<h2>Login</h2>

			<div class="inputBox">
				<input type="text" formControlName="username" required="required">
				<i class="fa-regular fa-user"></i>
				<span>username</span>
			</div>
			<div class="inputBox">
				<input type="text" formControlName="setpassword" required="required">
				<i class="fa-regular fa-envelope"></i>
				<span>password</span>
			</div>
			<div class="inputBox">
				<input type="submit" value="Login">
			</div>
			
		</form>
        </div>

	</div>


</body>
</html>

    