<section class="header">
    <h2>Jeevan </h2>
    <div class="content">
        <h3>Insurance</h3>
        <h4>since 2006</h4>
    </div>
    <div class="mustang">
        <span>E</span>
        <span>C</span>
        <span>N</span>
        <span>A</span>
        <span>R</span>
        <span>U</span>
        <span>S</span>
        <span>N</span>
        <span>I</span>
        <br>
        
        <span style="color: red;">N</span>
        <span style="color: red;">A</span>
        <span style="color: red;">V</span>
        <span style="color: red;">E</span>
        <span style="color: red;">E</span>
        <span style="color: red;">J</span>
    </div>

    <!-- <div class="text-box container">
       
        
        <h1> 
            <span>J</span>
            <span>E</span>
            <span>E</span>
            <span>V</span>
            <span>A</span>
            <span>N</span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>&nbsp;  INSURANCE</h1>
        <p style="color: whitesmoke;"></p>
        </div> -->

<!-- Enquiry Form -->

<div class="form signin">  
    
    <form [formGroup]="EnquiryForm" (ngSubmit)="onSave()">
      <h2></h2>
      <h4></h4>
      <div class="inputBox">
        <fieldset>
          <input  type="text" tabindex="1" formControlName="e_name"  required="required">
          <!-- <i class="fa-regular fa-user"></i> -->
          <span>Name</span>
        </fieldset>
        </div>
      <div class="inputBox">
      <fieldset>
        <input  type="email" tabindex="2" formControlName="e_email"  required="required">
        <!-- <i class="fa-regular fa-user"></i> -->
        <span>Email</span>
      </fieldset>
      </div>
      <div class="inputBox">
      <fieldset>
        <input  type="tel" tabindex="3" formControlName="e_contactNo"  required="required">
        <span>Mobile Number</span>
      </fieldset>
      </div>
      <div class="inputBox">
      <fieldset>
        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending" class="btn">Enquiry</button>
      </fieldset>
      </div>
      </form>

  </div>
  
  
<!--   
  <div class="form signin">
    <h2>Enquiry Here</h2>
    <div class="inputBox">
        <input type="text" required="required">
        <i class="fa-regular fa-user"></i>
        <span>username</span>
    </div>
    <div class="inputBox">
        <input type="password" required="required">
        <i class="fa-solid fa-lock"></i>
        <span>password</span>
    </div>
    <div class="inputBox">
        <input type="submit" value="Login">
    </div>
    <p>Not Registered ? <a href="#" class="create">Create an account</a></p>
</div> -->


        <!-- <a class="btn" href="#" target="_blank" >ENQUIRY</a> -->
    
</section>
<section class="categories">
    <div class="container categories_container">
<!-- <div class="categories container"> -->
    <h1><span>Your Health Matters to Us!</span></h1>
    <p>An All-Inclusive Mediclaim Plan with Insurance in Easy EMIs.</p>
    <!-- <div class="row"> -->
    <div class="categories_right">
        <article class="category">
            <!-- <div class="col"> -->
                <span class="category_icon">   <a href="#"><img src="assets\images\icons_Unlimited_Sum_Insured_Reinstatement_56ef0d2b8e.png" alt="sum"></a> </span>
                <p><span>Sum Insured Reinstatement <br> </span>Upto 100% unlimited sum insured reinstatement in the policy year</p>
            <!-- </div> -->
        </article>  
        <article class="category">
            <!-- <div class="col"> -->
            <span class="category_icon">    <a href="#"><img src="assets\images\icons_OPD_Benefits_1_b8a7eb30fd.webp" alt=""></a></span>
                <p><span>OPD Benefits </span> <br>
                     Doctors consultations, tele-consultations, preventive check-up & lab tests upto 2X(Twice of premium)</p>
            <!-- </div> -->
        </article>
        <article class="category">
            <!-- <div class="col"> -->
          <span class="category_icon">      <img src="assets\images\icons_Opt_International_Health_Cove_c3576b9ccd.webp" alt=""></span>
                <p><span>International Health Cover</span> <br>
                    Avail hospitalization cover in case of emergencies abroad.<p>
        </article>
            </div>
        </div>
        <!-- </div> -->
    <!-- </div> -->
    </section>
    
    <div class="categories container">
        <h1><span>Benefits of Jeevan Insurance policy</span></h1>
        <p>Investing in the right family floater health insurance like the Jeevan Insurance plan for your family ensures their safety against rising medical costs, gives them access to best-in-class healthcare and helps focus on regular healthcare and wellness.
        </p>
    <div class="row container">
            <div class="col">
                <img src="assets\images\icons_50_Cumulative_Bonus_9a75d36ede.png" alt="">
                <h2><span style="font-size: larger;">50% Cumulative Bonus </span></h2>
            </div>
            <div class="col">
                <img src="assets\images\icons_Affordable_Premium_ac8328cefc.png" alt="">
                <h2><span style="font-size: larger;">Affordable Premiums </span></h2>
            </div>
            <div class="col">
                <img src="assets\images\icons_Maternity_Care_6f96da4c62.png" alt="">
                <h2><span style="font-size: larger;">Maternity Care</span></h2>
            </div>
        </div>
    </div>
    <div class="categories container">
        <h1><span>Why Choose Jeevan Insurance Plan? </span></h1>
   
       <div class="why"> <img src="assets\images\photo1705460295.jpeg" alt=""> </div>


<!-- 
    <div class="row container" >
            <div class="col"  >
                <img src="#" alt="">
                <h2 ><span style="font-size: larger;">Surrogacy Maternity Cover</span><br><br> If insured opts for surrogacy,expenses incurred for surrogate's care during pregnancy and childcare once the child is born is covered.</h2>
            </div>
            <div class="col" >
                <img src="#" alt="">
                <h2 ><span style="font-size: larger; ">Home Nursing Benefit</span> <br><br> Cover for post-hospitalization paid nurse care for upto 10 weeks as prescribed by doctor.</h2>
            </div>
            <div class="col" >
                <img src="#" alt="">
                <h2 ><span style="font-size: larger; ">Airlift Cover</span><br> <br> In case of life-threatening health scare,airlift transfer from the insured's location to the nearest hospital is covered.</h2>
            </div>
        </div> -->
        </div>
    

<section class="marvel">
    <div class="upcoming">
        <div class="up-content container">
            <h2><span></span></h2>
            <h1></h1>
            <p></p>
            <!-- <a href="#" class="btn">Enquiry</a> -->
        </div>
    </div>
</section>



<div class="testimonial">
    <h1>Hear It From Our <span>Customers</span></h1>
    <div class="container">
        <div class="row">
            <div class="col-4" >
                <i class="fas fa-quote-left"></i>
                <p>Best Health insurance company in India.Best app i have ever seen. I highly recommend this to others.</p> 
                   
               <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <img src="assets\images\user-3.png" alt="">
                <h3>Jayashree<span>Sherekar</span></h3>
                </div>

                <div class="col-4" >
                    <i class="fas fa-quote-left"></i>
                   <p>I have been very happy with the way this app have been developed and handled . Thank you!</p>
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <img src="assets\images\user-1.png" alt="">
                    <h3>Vrushali <span>Kudale</span></h3>
            </div>
            <div class="col-4" >
                <i class="fas fa-quote-left"></i>
                <p>Their customer service executives really helped me with the requirements for caim filing and were very patient with me </p> 
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <img src="assets\images\user-2.png" alt="">
                <h3>Nandkishor <span>Kolhe</span></h3>
        </div>
            </div>
        </div>
