@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Source+Serif+Pro:wght@300;400;600;700&family=Ubuntu:ital,wght@0,400;0,500;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

:root{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Source Serif Pro', serif;
    background: #fffafa;
    --color-black:#212529;
    --color-white:#ecfffd;
}


.container{
    max-width: 1300px;
    width: 90%;
    margin: 0% auto;
}

.fa{
    display: none;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-color: lightcyan;
    /* background-image:  url(insurance_set_2.jpg);  */
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 80px;
     padding-bottom: 40px; 
     border-radius: 20px;
    border: 8px solid #223243; 
    box-shadow: -10px -10px 25px rgba(255, 255, 255, 0.1),
      10px 10px 25px rgba(0, 0, 0, 0.35),
      inset -10px -10px 25px rgba(255, 255, 255, 0.1),
      inset 10px 10px 25px rgba(0, 0, 0, 0.35);
}
  

.header h2{
    font-family: 'Staatliches', sans-serif;
    font-weight: 700;
    font-size: 16vw;
    position: absolute;
    letter-spacing: 0.11em;
    text-align: center;
    color: var(--color-black);
    opacity: 0.2;
    pointer-events: none    ;
    top: 10vh;
    margin-left: 0vw;
}

  
.header .form {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
   
    background: transparent;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin-left: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.header.signinForm .form.signin {
    display: flex;
  }
  
.header .form h2 {
    color: #0b0b0b;
    font-weight: 500;
    letter-spacing: 0.1em;
  }
  
.header .form .inputBox {
    position: relative;
    width: 250px;
    
  }
  
.header .form .inputBox input {
    padding: 12px 10px 12px 48px;
    border: none;
    width: 100%;
    background: #223243;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #fff;
    font-weight: 300;
    border-radius: 25px;
    font-size: 1em;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
      5px 5px 15px rgba(0, 0, 0, 0.35);
    transition: 0.5s;
    outline: none;
  }
  
.header .form .inputBox span {
    position: absolute;
    left: 0;
    padding: 12px 10px 12px 48px;
    pointer-events: none;
    font-size: 1em;
    font-weight: 300;
    transition: 0.5s;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 0.5);
  }
  
.header .form .inputBox input:valid ~ span,
.header .form .inputBox input:focus ~ span {
  color: #00dfc4;
  border: 1px solid #00dfc4;
  background: #223243;
  transform: translateX(25px) translateY(-7px);
  font-size: 0.6em;
  padding: 0 8px;
  border-radius: 10px;
  letter-spacing: 0.1em;
}

.header .form .inputBox input:valid,
.header .form .inputBox input:focus {
  border: 1px solid #00dfc4;
}
/* 
.header .form .inputBox i {
   
    position: absolute;
    top: 15px;
    left: 26px;
    width: 25px;
    padding: 2px 0;
    padding-right: 8px;
    color: #00dfc4;
    border-right: 1px solid #00dfc4;
  } */
  
.header .form .inputBox input[type="submit"] {
   
    background: #00dfc4;
    color: #223243;
    padding: 10px 0;
    font-weight: 500;
    cursor: pointer;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
      5px 5px 15px rgba(0, 0, 0, 0.35),
      inset -5px -5px 15px rgba(255, 255, 255, 0.1),
      inset 5px 5px 15px rgba(0, 0, 0, 0.35);
  }
  
.header .form p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.75em;
    font-weight: 300;
  }
  

.header .form p a {
    font-weight: 500;
    color: #fff;
  }
  
  
  
.categories_right{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0rem;
    height: 22rem;
}

.category{
    background: var(--color-bg2);
    padding: 0rem;
    border-radius: 1rem;
    transition: var(--transition); 
}
/* 
.category:hover{
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
    z-index: 1;
    background-color: rgb(253, 251, 251);
} */

.category:nth-child(2) .category_icon{
    background: var(--color-danger);
}
.category:nth-child(3) .category_icon{
    background: var(--color-success);
}
.category:nth-child(4) .category_icon{
    background: var(--color-warning);
}
.category:nth-child(5) .category_icon{
    background: var(--color-success);
}

 .category  .category_icon{
    /* background: var(--color-primary); */
    padding: 0.1rem;
    border-radius: 0.6rem;
   
}
.category .category_icon img{
    width: 45%;
    height: 35%;
    margin-left: 30%

}


.category p{
    font-size: 0.4rem;
}

.content{
    position: absolute;
    top: 22vw;
    right: 0;
    padding-right: 29.5vw;
    text-align: right;
    color: var(--color-black);
}

.content h4{
    font-size: 2vw;
    font-weight: 200;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.content h3{
    font-size: 3.5vw;
    font-weight: 900;
    text-transform: uppercase;
}

.mustang{
    position: absolute;
    top: 6vw;
    left: 5vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.mustang span{
    color: var(--color-black);
    font-weight: 500;
    font-size: 1vw;
    transform: rotate(-90deg);
}
/* --------------------header-body styling--------------- */
/* 
.text-box{
    width: 90%;
    position: absolute;
    top: 40%;
    left: 30%;
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
    transform: translate(-50% ,-50%);
    position: relative; 
     width: 100vw;
    height: 100vh;
}


.text-box h1{
    font-size: 2rem;
    padding: 0.5rem;
    color: #ff324f;
    font-weight: 900;
    transition: 0.5s;
    letter-spacing: 10px;
}

.text-box h1:hover{
    -webkit-text-stroke: 2px blue;
    color: transparent;}

    
h1 span{
    display: inline-block;
    animation: animate 1s ease-in-out;

}

@keyframes animate {
    0%{ 
        opacity: 0%;
        transform: rotateY(90deg);
        filter: blur();
    }
    100%{
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur();
}
}
h1 span:nth-child(1)
{
    animation-delay: 0.3s;
}
h1 span:nth-child(2)
{
    animation-delay: 0.6s;
}
h1 span:nth-child(3)
{
    animation-delay: 0.9s;
}
h1 span:nth-child(4)
{
    animation-delay: 1.2s;
}
h1 span:nth-child(5)
{
    animation-delay: 1.5s;
}
h1 span:nth-child(6)
{
    animation-delay: 1.8s;
}
h1 span:nth-child(7)
{
    animation-delay: 2.1s;
}
h1 span:nth-child(8)
{
    animation-delay: 2.4;
}



.text-box p{
    font-size: 1.5rem;
    color: whitesmoke;
    padding: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.7rem;
} */

.btn{
    
    border: 1px solid #ff324f;
    display: inline-block;
    min-width: 15%;
    text-align: center;
    padding: 0.5rem 1.5rem;
    color:black;
    background: transparent;
    font-size: 1.5rem;
    transition: 0.5s ease-in;
    cursor: pointer;
}

.btn:hover{
    background: #ff324f;
    color: #fff;
}


/* --------tournament styling------------ */

.categories h1{
    margin-top: 100px;
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
    text-align: center;
    padding-bottom: 1.5rem;
    font-weight: 600;
    color: #222;
    border-bottom: 2px solid #ff324f;  
}

.categories span{
    color: #ff324f;
}

.categories p{
    text-align: center;
    color: #333;
    font-size: 1rem;
    margin-bottom: 2.5rem;
}
.categories .why img {
    width: 90%;
    height: 60%;
    margin-left: 5%;
}

.row{
    display: flex;
    justify-content: space-evenly;
    padding: 0 1rem;
}

.col{
    flex-basis: 33%;
    
    margin-bottom: 2rem;
    transition: all 0.3s ease-in-out;
    background: #f2f2f2;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.col img{
    /* min-width: 150px;                */
    width: 30%;
    height: 50%;
    margin-left: 35%;
    margin-top: 3%;
}

.col h2{
    font-size: 1rem;
    color: #333;
    margin-top: 1rem;
    padding: 0.1rem ;
    text-align: center;
    padding-bottom: 1.5rem;
}

.col h2 span{
    color: #ff324f;
}

.col:hover{
    transform: translateY(-8px);
}


/* --------------- teams styling -------------- */


.col-2:hover{
    transform: translateY(-10px);
}

/* ---------------- upcoming new batches ----------- */

.upcoming{
    position: relative;
    width: 100%;               
    height: 60vh;
    object-fit: cover;
    object-position: center;
    background-image:url(page-2.png);
    margin: 5rem 0;
}

.up-content{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.up-content h2{
    font-size: 1.2rem;
    color: #ff523b;
    text-align: center;
    padding: 1rem ;
    margin: 1.3rem;
}

.up-content span{
    color: #fff;
}

.up-content h1{
    font-size: 1rem;
    color: #fff;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.2rem;
}

.up-content p{
    text-align: center;
    font-size: 2.2rem;
    color: #fff;
    padding: 1rem;
    margin: 0.5rem;
}

.up-content a{
    text-decoration: none;
    margin: 1rem;
    margin-left: 70%;
}


/* wishes--------------- */

.testimonial{
    padding-top: 4rem;
}

.testimonial h1{
    text-align: center;
    color: #222;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 3.5rem;
}

.testimonial span{
    color: #ff324f;
}

.col-4{
    
    flex-basis: 30%;
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.6);
    transition: transform 0.5s ease;
    background: #fff;
    margin-bottom: 3rem;
    
}

.col-4:hover{
    transform: translateY(-10px);
}

.col-4 img{
    width: 50px;
    margin-top: 1.5rem;
    border-radius: 50%;
    border: 0.8px solid #ff523b;
}
.col-4 p{
    font-size: 1rem;
    text-align: left;
    color: #555;
}

.col-4 h3{
    font-weight: 400;
    font-size: 1.5;
    color: #222;
}


.col-4 .rating{
    color: #f44343;
}

.col-4 span{
    color: #f44343;
}

.col-4 .fa-quote-left{
    color: #f44343;
    font-size: 1.8rem;
}

.rating{
    padding: 1rem;
    margin: 0.5rem auto;
    font-size: 1.5rem;
    color: #f44343;
    text-align: center;
}

/* --------------- from blog styling ------------ */

.blog{
    font-size: 2.5rem;
    color: #222;
    text-align: center;
    margin: 3rem auto;
}

.blog span{
    color: #ff324f;
}


.col p{
    color: #333;
    text-align: center;
    font-size: 1.8rem;
    padding: 1rem 0.5rem;
    margin-top: 1rem;
}



.footer h1{
    text-align: center;
    color: #222;
    font-size: 0.5rem;
    margin: 3rem auto;
}


/* -------------- footer ------------ */

.footer{
    background-color: #faf8f8;
    color: #070707;
    font-size: 1rem;
    padding: 3rem 0 20px;
}

.footer p{
    color: #080808;
    font-size: 1.0rem;
    margin-bottom: 1rem;
}

.footer h3{
    color: #0a0a0a;
    margin-bottom: 1.0rem;
    /* cursor: pointer; */
}

.col-6{
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1{
    flex-basis: 30%;
}

.footer-col-2{
    flex: 1;
    text-align: center;
    color: black;
}

.footer-col-1 img{
    width: 180px;
    margin-bottom: 20px;
    cursor: pointer;
}

.footer-col-3 ,.footer-col-4{
    flex-basis: 12%;
    text-align: center;
}

.col-6 ul{
    list-style: none;
}

.col-6 ul li{
    padding: 0.5rem;
    cursor: pointer;
}

.app-store{
    margin-top: 20px;
}

.app-logo img{
    width: 140px;
}


.copyright{
    text-align: center;
    padding-top: 0.5rem;
    /* margin-bottom: 1rem; */
}

.copyright span{
    color: #f44343;
}

.footer hr{
    background: none;
    height: 1px;
    color: #090909;
}

.f-logo h1{
    color: #040404;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.f-logo span{
    color: #ff523b;
    font-size: 1.5rem;
    padding-bottom: 1rem;

}




@media (max-width:350px){

}



@media  (min-width:351px ) and (max-width:500px){

}


@media (min-width:501px) and (max-width:768px){

}


@media(min-width:769px) and (max-width:1200px){
    
}

/* ------------------------------------------------- */

/* Enquiry form css */
/* 
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background: #4CAF50;
} */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
/* 
.loginSignup {
    padding-top: 100px;
    padding-bottom: 40px;
     border-radius: 20px;
    border: 8px solid #223243; 
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
      5px 5px 15px rgba(0, 0, 0, 0.35),
      inset -5px -5px 15px rgba(255, 255, 255, 0.1),
      inset 5px 5px 15px rgba(0, 0, 0, 0.35);
  } */
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}