<!-- <p>app-layout works!</p> -->
<!-- <div> -->
    <!-- <app-app-header></app-app-header> -->
<!-- </div> -->

<!-- <div class="row p-0 height">

    <div class="col col-3 bg-primary p-0">
            <app-app-menu></app-app-menu>
    </div>

    <div class="col col-9 card p-0 m-0 container">
            <h1 class="m-0 p-0">Navigated content will display here...</h1>
            <router-outlet></router-outlet>
    </div>

</div> -->


<app-app-header></app-app-header>


<div class="row p-0 height">

    <div class="col col-3  p-0">
            <app-app-menu></app-app-menu>
    </div>

    <div class="col col-9 card p-0 m-0 container">
            <h1 class="m-0 p-0">   <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                  <h2 class="h2">Dashboard</h2>
                  <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                      
                    </div>
                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                      <span data-feather="calendar"></span>
                      This week
                    </button>
                  </div>
                </div>
      
               
              </main> </h1>
            <router-outlet></router-outlet>
    </div>

</div>

