<!-- <p>registration works!</p> -->


<body>

   <div class="register">

   <h2 >New User Registration </h2>
   
   
 <form class="container form" [formGroup]="userReg" (ngSubmit)="onSubmit()">
   <div *ngIf="step == 1">
       <h1>User Login Details</h1>
           <div class="flex2">

               <div class="one">
                   <label for="username">Username</label><br/>
                   <input type="text" id="username" class="form-control" formControlName="username" placeholder="Set UserName" required>
               </div>
           
               <fieldset class="one">
                   <legend>Gender</legend>
                       <div class="gender form-control" formControlName="gender">
                           <input type="radio" id="male" name="gender" value="male" required/>
                           <label for="male">Male</label>
                   
                           <input type="radio" id="female" name="gender" value="female" required />
                           <label for="female">Female</label>
           
                           <input type="radio" id="other" name="gender" value="other" required />
                           <label for="other">other</label>
                       </div>
               </fieldset>

           </div>

           <div class="flex2">

               <div class="one">
                   <label for="setpassword">Password </label> <br>
                   <input type="text" id="upass" class="form-control" formControlName="setpassword" placeholder="Set Password" required>
               </div>

               <div class="one">
                   <label for="mobile">Mobile Number</label><br/>
                   <input type="number" id="contactno" class="form-control" formControlName="contactno" placeholder="Enter Your Mobile No." required>
               </div>

           </div>

           <div class="flex">
               <label for="dateofbirth">Date Of Birth</label><br/>
               <input type="date" name="date" id="DOB" class="form-control" formControlName="dateofbirth" placeholder="Enter Your Birth Date" required>
           </div>

           <div class="flex">
               <label for="address">Address</label><br/>
               <!-- <input type="text" id="address"  class="form-control" formControlName="address" placeholder="Enter Your Address"  required> -->
               <textarea name="bio" id="bio" rows="3"  class="form-control" formControlName="address" placeholder="Enter Your Address" required></textarea>
           </div>

           <div class="flex3">
               <div class="two">
                   <label for="pincode">Pincode</label><br/>
                   <input type="text" id="pincode" class="form-control" formControlName="pincode" placeholder="Enter Pincode" required>
               </div>
               <!-- <div class="two">
                   <label for="name">Current Designation</label><br/>
                   <input type="number" id="name" placeholder="Enter Your Designation" required>
               </div>
               <div class="two">
                   <label for="name">organization Name</label><br/>
                   <input type="text" id="name" placeholder="Enter Your Organization Name" required>
               </div>
           </div>

           <div class="flex">
               <label for="name">Linked In</label><br/>
               <input type="url" id="name"  required>
           </div>

           <div class="flex">
               <label for="name">Topic</label><br/>
               <input type="text" id="name"  required>
           </div>

           -->
           
       </div>
       
   </div>    
           
                 <!-- -----------------Step 1 End------------------>
                
                <!-- -----------------Step2 Start------------------>

             <div *ngIf="step == 2" > 
                          <div formGroupName="ed">
                             <h1>Employement Details</h1> <br>
                             <div class="flex2">
                                <div class="one">
                                 <label for="employementstatus">Employement Status</label>
                                <input type="text" class="form-control" id="employementstatus" formControlName="employementstatus" placeholder="Employement Status" required="required">
                                 <br>
                              </div>
                             
                             <div class="one">
                               <label for="occupation">Occupation</label>
                                <input type="text" class="form-control" id="occupation" formControlName="occupation" placeholder="Enter Occupation">
                             <br>
                            
                              </div>
              
                             <div class="one">
                            <label for="workingAddress">Working Address</label>
                             <input type="text" class="form-control" id="workingAddress" formControlName="workingAddress" placeholder="Enter Working Address">
                              <br>
                           </div>
                          </div>
                        </div>
                                       <!-- -----------------MOdel:healthinformation  Start------------------>

                          <div  formGroupName="hi"> 
                          <h1>Health Information  Details</h1> <br>
                         
                          <div class="flex2">
                            <div class="one">
                              <label for="primarycarePhysician">Primary Care Physician </label>
                             <input type="text" class="form-control" id="primarycarePhysician" formControlName="primarycarePhysician" placeholder=" Enter Primary Care Physician" required>
                          <br>
                           </div>
                          
                          <div class="one">
                           <label for="preExistingmedicalCondition">Pre-Existing Medical Condition</label>
                             <input type="text" class="form-control" id="preExistingmedicalCondition" formControlName="preExistingmedicalCondition" placeholder= " PreExisting Medical Condition " required="required">
                            <br>
                           </div>
              
                          <div class="one">
                        <label for="currentMedication">Current Medication</label>
                          <input type="text" class="form-control" id="currentMedication" formControlName="currentMedication" placeholder="Current Medication">
                         
                          <br>
                        
                        </div>
                          
                       </div> 
                     </div>
           </div>                     <!-- -----------------Step 2 End------------------>

                                <!-- -----------------Step 3 Start------------------>
                            <!-- -----------MOdel : dependentinformation Step -------------->

           <div *ngIf="step == 3" > 
                       <div formGroupName="depedentinfomation">
                       <h1>Dependent Information </h1> <br>
                       <div class="flex2">
                          <div class="one">
                           <label for="nameofDependent">Name of Dependent</label>
                          <input type="text" class="form-control" id="nameofDependent" formControlName="nameofDependent" placeholder="Name Of Dependent" required>
                          <br>
                        </div>
                    
                       <div class="one">
                        <label for="reletionwithdependent">Relation</label>
                         
                          <input type="text" class="form-control" id="reletionwithdependent" formControlName="reletionwithdependent" placeholder="Relation With Dependent" required="required">
                          <br>
                     
                        </div>
           
                       <div class="one">
                       <label for="birthdate">Birthdate</label>
                       <input type="date" class="form-control" id="birthdate" formControlName="birthdate" placeholder=" Enter Birthdate">
                        <br>
                     </div>
                       
                       <div class="one">
                       <label for="age">Age</label>
                       <input type="number" class="form-control" id="age" formControlName="age" placeholder="Enter Age">
                        <br>
                     </div>                      
                    </div>
                  </div>
                                            
              <!-- ---------------Model :insuranceplanDetails  Start-------------------->
              <div  formGroupName="ipd"> 
                 <h1> Insurance plan Details </h1> <br>
                 <div class="flex2">
                    <div class="one">
                     <label for="coverageType">Coverage Type</label>
                    <input type="text" class="form-control" id="coverageType" formControlName="coverageType" placeholder="Enter CoverageType">
                     
                  </div>
                 
                 <div class="inputBox">
                   <label for="coverageStartdate">Coverage Start Date</label>
                    <input type="date" class="form-control" id="coverageStartdate" formControlName="coverageStartdate" placeholder="Coverage Start Date" required>
                    <br>
                  </div>
                  </div>
 
              </div> 

      </div>                     <!-- -----------------Step 3 End------------------>
                
                                    
            <!-- -----------------Step 4 Start------------------>
                         <!-- -----------------Model:premiumcalculation- Start------------------>

           <div *ngIf="step == 4" > 
                          <!-- <div formGroupName="premiumcalculation">
                       <h4>Premium Calculation </h4>
                       <div class="form-group">
                          <label for="age">Enter your age </label>
                          <input type="age" class="form-control" id="age" formControlName="age" placeholder=" age">
                       </div>
                       
                       <div class="form-group">
                       <label for="gender">Gender</label>
                       <select class="form-control" formControlName="gender">
                          <option value="null">Select Any One</option>
                          <option value="male">Male</option>
                          <option value="female">Female</option>
                          <option value="other">Other</option>
           
                       </select>
                    </div>
                    </div> -->
 
            <!-- <div *ngIf="step == 9" formGroupName="uploaduserDocuments"> 
             <h4>Upload User Documents </h4>
            <div class="form-group">
               <label for="id">Enter your id</label>
               <input type="number" class="form-control" id="id" formControlName="id" placeholder="id">
            </div>
            
            
              
            <div class="form-group">
             <label for="panCard ">Upload your panCard</label>
             <input type="file" class="form-control" id="panCard" formControlName="panCard" placeholder="panCard">
          </div>
          
          <div class="form-group">
           <label for="adharCard ">Upload your AdharCard </label>
           <input type="file" class="form-control" id="adharCard" formControlName="adharCard" placeholder="adharCard">
        </div>
 
        <div class="form-group">
         <label for="coverageStartdate ">Upload your Photo </label>
         <input type="file" class="form-control" id="photo" formControlName="photo" placeholder="photo">
      </div>
        
        <div class="form-group">
         <label for="verificationStatus ">Enter your verificationStatus</label>
         <input type="text" class="form-control" id="verificationStatus" formControlName="verificationStatus" placeholder="verificationStatus">
       </div>
     </div> -->
 
                 <div formGroupName="addi"> 
                 <h1> Additional Information </h1> <br>
                
                 <div class="flex2">
                   <div class="one">
                     <label for="preferedmethodforcommunication">Prefered Method for Communication</label>
                    <input type="text" class="form-control" id="preferedmethodforcommunication" formControlName="preferedmethodforcommunication" placeholder="Prefered Method For Communication">
                     <br>
                  </div>
                 
                 <div class="one">
                    <label for="howhereabout">How Here About</label>
                    <input type="text" class="form-control" id="howhereabout" formControlName="howhereabout" placeholder="How where about">
                    
                    <br>
                 </div>

                </div>
              </div>
       </div>
         
       
                <pre></pre>
               <div class="btn">
                  <button class="button" *ngIf="step!=1 && step!=5 " [hidden]="step==5" (click)="previous()" >Previous</button> &nbsp;
                  <button type="submit" class="button" value="SUBMIT" *ngIf="step!=4"[hidden]="step==5" (click)="next()">Next </button>    
                  &nbsp;
                   <button type="submit" class="button" *ngIf="step==4" (click)="onSubmit()" routerLink="">Submit</button> 
               </div>
                   <!-- {{userReg.value|json}} -->
             
             </form>
             
             
           
    </div>  
</body>
