<!-- <p>header works!</p> -->
<!-- <ul class="nav justify-content-around border p-3 bg-danger">
    <li class="nav-item">
        <button class="btn btn-primary" routerLink="homepage">Home </button>
      </li>
    <li class="nav-item">
      <button class="btn btn-primary" routerLink="about">About Us</button>
    </li>
    <li class="nav-item">
        <button class="btn btn-primary" routerLink="contact">Contact Us</button>
    </li>
    <li class="nav-item">
        <button class="btn btn-primary" routerLink="register">Registration</button>
    </li>
    <li class="nav-item">
        <button class="btn btn-primary" routerLink="login">Login</button>
    </li>
  </ul> -->

  <div class="header">
    <nav class="navbar">
      <a><img src="assets\images\jeevan--insurance-high-resolution-logo-transparent.png" class="logo"></a>
      
      <div class="nav-links">
          <i class="fa fa-times" onclick="hideMenu()"></i>
          <ul>
             <button class="btn"> <li><a routerLink="homepage">Home</a></li></button>
             &nbsp;
             <button class="btn"> <li><a routerLink="about">About us</a></li></button>
             &nbsp;
            <button class="btn">  <li><a routerLink="contact">Contact us</a></li></button>
            &nbsp;
            <button class="btn">  <li><a routerLink="register">Register</a></li></button>
            &nbsp;
             <button class="btn"> <li><a routerLink="login">Login</a></li></button>
          </ul>
          <i class="fa fa-bars" onclick="showMenu()"></i>
      </div>  
  </nav>